@import "materialize";


/* INDEX */
.title {
  margin-left: 40px;
} 

hr {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

/* APP */

#form {
  margin-left: 40px;
}

label {
  font-size: 100%;
}

#card {
  margin-left: 75px;
}
input {
  border: 2px solid #cccccc !important;
  color: #333333;
  display: block;
  font-size: 1em;
  height: 2.2em;
  padding: 0 0.4em;
  width: 100%;
  word-break: normal;
}


/* CARD */
.editable {
  cursor: all;
}
#example {
  border: 2px solid black;
  height: 200px;
}

#example p {
  width: 100%;
  margin: 0px;
}


#logo {
  width: 50px;
  height: 45px;
  margin: 4px 15px 15px 15px;
  padding: 0;
  float: left;
}

#card-header {
  border-bottom: 2px solid #6DA34D;
  width: 60%;
  padding-bottom: 0px;
  display: inline-block;
  margin-top: 20px;
}

#card-details {
  margin-top: 12px;
  margin-left: 80px;
  font-size: 11px;
  font-weight: bold;
}

#card-name {
  font-size: 17px;
  padding-bottom: 1px;
  font-weight: bold;
}

#card-title {
  font-size: 11px;
  color: #6DA34D;
  font-weight: bold;
}

#card-company {
  font-style: italic;
  font-size: 11px;
}


#card-website {
  color: #6DA34D;
  font-size: 11px;
}